/*mobile first*/
/*inicio nav*/
.navbar {
    width: 100%;
    height: 70px; /* Ajusta la altura seg煤n sea necesario */
    position: fixed; /* Hace que la barra de navegaci贸n quede fija */
    top: 0;
    left: 0;
    background-color: white; /* Asegura que tenga fondo y no sea transparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 20px;
    z-index: 1000; /* Para que est茅 sobre otros elementos */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Agrega una ligera sombra */ 
    transition: opacity 0.5s ease-in-out;
}
.navbar.hidden {
    opacity: 0;
    pointer-events: none; /* Evita que la navbar sea interactuable cuando est谩 oculta */
}
.navbar .logo {
    height: 50px;  
}
.navbar .logo:hover {  
    transform: scale(1.1);
}
.menu-items {
    display: none; /* Oculto en m贸vil */
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: 100vh; /* Ajusta la altura seg煤n sea necesario */
    background: white;
    letter-spacing: 4px;
    line-height: 5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}  
.menu-items.open {
    display: flex;
}

.menu-items ul {
    list-style: none;
    padding: 0;
}
.menu-items li {
    padding: 40px 0; /* Espaciado entre los elementos */
    margin: 0; /* Elimina el margen por defecto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* SUBMENU*/
/*nosotros-contacto*/
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar ul li a:hover {
    font-size: 20px;
    transition: 0.3s;
}
/*nosotros-contacto*/
.menu-items li ul.submenu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: auto;
    text-align: center;
    padding: 0;
}
.menu-items li ul.submenu a{
    font-size: 12px;
    padding: 1rem;
}
.menu-items li ul.submenu a:hover {
    font-size: 14px;
}
.menu-items li:hover ul.submenu {
    display: flex;
    width: 320px;
}
.submenu-toggle {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.navbar .toggle_btn {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    background: #363636;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
    margin-top: 5px;
}
.navbar.hidden + .toggle_btn {
    display: block; /* Muestra el bot贸n cuando la navbar est谩 oculta */
}
/* Estilo para el bot贸n que aparece cuando la navbar est谩 oculta */
.toggle_btn_fixed {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    background: white;
    color: black;
    padding: 5px;
    border: solid 1px #363636;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
}
.toggle_btn_fixed i {
    font-size: 1.5rem;
}
.toggle_btn_fixed:hover {
    background: #333;
}
/*navbar*/

/* Carrusel con animaci贸n infinita CSS */
.notas-medios {
  overflow: hidden;
  width: 100%;
  background: #fff;
  padding: 2rem 0;
}

.notas-marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.notas-track {
  display: flex;
  width: max-content;
  animation: scrollMarquee 60s linear infinite;
}

@keyframes scrollMarquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.nota-item {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  min-width: 250px;
  height: 320px;
  flex-shrink: 0;
  margin: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.nota-item:hover {
  transform: scale(1.05);
}
.nota-item h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.btn-ver-nota {
  width: 50%;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.btn-ver-nota:hover {
  background-color: #000;
}

/*mobile first*/
@media (min-width:720px){
    .notas-container {
     gap: 2rem;
     padding: 0;
     margin: 0;
  }
}


@media (min-width: 1024px) {
        .menu-items {
            display: flex;
            flex-direction: row;
            position: static;
            width: auto;
            height: auto;
            background: none;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            margin-right: 40px;
        }
        .menu-items ul {
            display: flex;
            list-style: none;
            font-size: 0; /*IMPORTANTE: elimina el contenido por defecto*/
            padding: 0; /*IMPORTANTE*/
        } 
        .menu-items li {
            padding: 0;
            display: inline-block;
            position: relative;
        } 
        .menu-items li a {
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 20px 10px; /* Espaciado entre los elementos */
        }
        .menu-items .submenu {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            background-color: rgba(255, 255, 255, 0.3); /* blanco transparente */
            backdrop-filter: blur(10px); /* desenfoque */
            -webkit-backdrop-filter: blur(10px); /* soporte Safari */
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            padding: 10px 0;
            width: 200px;
            z-index: 10;
        } 
        .menu-items .submenu.open {
            display: flex;
        }
        .submenu li{
            width: 100%;
            text-align: center;
        }
        .submenu li a {
            color: black;
            text-decoration: none;
            font-size: 14px;
            display: block;
            transition: all 0.3s ease;
            padding: 1rem;
            gap: 0;
        }
        .submenu li a:hover {
            background-color: #363636;
            color: white;
        }
        .menu-items li:hover .submenu {
            display: block;
        }

        .nav .toggle_btn {
            display: none; /*  Ocultar bot贸n hamburguesa */
        }
        .navbar .logo {
            margin-bottom: 20px;
        }
}
/*fin nav*/

/*inicio footer*/
footer {
    background-color: black;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}
footer .social {
    text-align: center;
   
}
footer .social p {
    color: white;
    opacity: 0.65;
    margin-top: 15px;
}
  footer .social p:hover {
    opacity: 1;
} 
/*fin footer*/
